- parent_region ||= params[:parent_region]
- country = Carmen::Country.coded(parent_region)
- if country.nil? || parent_region == 'NZ'
  = text_field :purchase_order, :bill_state, {class: 'form-control'}
- elsif country.subregions?
  = subregion_select :purchase_order, :bill_state, parent_region, :class => 'form-control'
- else
  = text_field :purchase_order, :bill_state, {class: 'form-control'}
%ul.parsley-errors-list
