.col-md-3.left_col
  .left_col.scroll-view
    .navbar.nav_title{:style => "border: 0;"}
      %a.site_title{:href => "/"}
        %i.fa.fa-paw
        %span OrderBook
    .clearfix
    / sidebar menu
    #sidebar-menu.main_menu_side.hidden-print.main_menu
      .menu_section
        %ul.nav.side-menu
          %li.nav-dashboard
            %a{:href => "/"}
              %i.fa.fa-dashboard
              Dashboard
          %li.nav-sales-orders
            %a{:href => "/sales_orders/all/list_orders"}
              %i.fa.fa-shopping-cart
              Sales Order              
          %li.nav-products
            %a{:href => "#"}
              %i.fa.fa-cubes
              Products
              %span.fa.fa-chevron-down
            %ul.nav.child_menu{:style => "display: none"}
              %li
                %a{:href => list_by_type_products_path(:type => 'all')} Product
              %li
                %a{:href => "/product_cat"} Category
              %li
                %a{:href => "/product_line"} Product Line
              %li
                %a{:href => "/product_brand"} Brand
          %li.nav-invoices
            %a{:href => list_by_type_invoices_path(:type => 'all')}
              %i.fa.fa-file-text
              Invoices
          %li.nav-purchase-orders
            %a{:href => "/purchase_orders/all/list_orders"}
              %i.fa.fa-file-powerpoint-o
              Purchase Orders
          %li.nav-bills
            %a{:href => list_by_type_bills_path(:type => 'all')}
              %i.fa.fa-file-text-o
              Bills
          %li.nav-reports
            %a{:href => "#"}
              %i.fa.fa-bar-chart
              Reports
          %li.nav-people
            %a{:href => "/customers"}
              %i.fa.fa-users
              People
    .main_menu.sidebar-footer-config.hidden-small
      %ul.nav.side-menu
        %li
          %a{:href => "/config_company"}
            %i.fa.fa-gear
            Configuration
