.col-md-4.col-sm-4.col-xs-12.profile_left
  .profile_img
    .crop-avatar
      %img.img-responsive.avatar-view{:src => "/images/building.svg", :class => "customer-default-avatar"}
  .profile-content
    %h3 
      =@customer.company_title
      %a{:href => edit_customer_path(@customer)}
        %i.fa.fa-edit{:style => "vertical-align: bottom;"}
    %h5 Contact
    %h4 
      =@customer.full_name
    %ul.list-unstyled.user_data
      - if !@customer.phone.blank?
        %li
          %i.fa.fa-phone.user-profile-icon
          =@customer.phone
      - if !@customer.email.blank?
        %li
          %i.fa.fa-envelope.user-profile-icon
          =@customer.email
    %br
    %h5 Company Infomation
    %ul.list-unstyled.user_data
      %li
        =@customer.trading_name
      %li
        =@customer.company_reg_no
      %li
        =@customer.company_gst_no
      - if !@customer.fax.blank?
        %li
          %i.fa.fa-fax.user-profile-icon
          =@customer.fax
    %br
    %h5 Payment Information
    %ul.list-unstyled.user_data
      %li
        =@customer.payment_term_label
.col-md-8.col-sm-8.col-xs-12
  .row.overview-payable
    .col-md-12
      %h3 Payable
      %h2
        = number_to_currency(@customer.receivable, precision: 2)
  .row.customer-address
    .col-md-6
      %h4 Billing Address
      %h5
        =@customer.billing_street_short
      %h5
        =@customer.billing_address_state_short
      %h5
        =@customer.bill_country_long
    .col-md-6
      %h4 Shipping Address
      %h5
        =@customer.shipping_street_short
      %h5
        =@customer.shipping_address_state_short
      %h5
        =@customer.ship_country_long
  .row.contact-list
    .col-md-12
      %h3 Contact Person
      %ul.nav.navbar-right
        %li
          %a.add-link{ :href => '#', "data-target" => ".bs-contact-add", "data-toggle" => "modal" }
            %i.fa.fa-user-plus
          .modal.fade.bs-contact-add{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
            .modal-dialog.modal-lg
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} ×
                  %h4.modal-title Contact Information
                .modal-body
                  %form#contact_form.form-horizontal.form-label-left.input_mask{"data-parsley-validate" => "", :method => "post"}
                    .form-group
                      %input{:name => "customer_id", :type => "hidden", :value => "#{@customer.id}"}
                      .col-md-6.col-sm-6.col-xs-12{:style => "padding-right: 0;"}
                        .row
                          %label.col-md-4.col-sm-4.col-xs-12.control-label First Name
                          .col-md-8.col-sm-8.col-xs-12.form-group.has-feedback
                            %input#contact_first_name.form-control.has-feedback-left{:autofocus => "autofocus", :name => "first_name", :placeholder => "First Name", :required => "required", :type => "text", :value => ""}
                            %span.fa.fa-user.form-control-feedback.left{"aria-hidden" => "true"}
                        .row
                          %label.col-md-4.col-sm-4.col-xs-12.control-label Last Name
                          .col-md-8.col-sm-8.col-xs-12.form-group.has-feedback
                            %input#contact_last_name.form-control.has-feedback-left{:name => "last_name", :placeholder => "Last Name", :required => "required", :type => "text", :value => ""}
                            %span.fa.fa-user.form-control-feedback.left{"aria-hidden" => "true"}
                        .row
                          %label.col-md-4.col-sm-4.col-xs-12.control-label Email Address
                          .col-md-8.col-sm-8.col-xs-12.form-group.has-feedback
                            %input#contact_email.form-control.has-feedback-left{:name => "email", :placeholder => "Email Address", :required => "required", :type => "email", :value => ""}
                            %span.fa.fa-envelope.form-control-feedback.left{"aria-hidden" => "true"}
                      .col-md-6.col-sm-6.col-xs-12{:style => "padding-right: 0;"}
                        .row
                          %label.col-md-4.col-sm-4.col-xs-12.control-label Mobile Number
                          .col-md-8.col-sm-8.col-xs-12.form-group.has-feedback
                            %input#contact_mobile_phone.form-control.has-feedback-left{:name => "mobile_number", :placeholder => "Mobile Number", :type => "text", :value => ""}
                            %span.fa.fa-mobile-phone.form-control-feedback.left{"aria-hidden" => "true"}
                        .row
                          %label.col-md-4.col-sm-4.col-xs-12.control-label Landline Number
                          .col-md-8.col-sm-8.col-xs-12.form-group.has-feedback
                            %input#contact_phone.form-control.has-feedback-left{:name => "landline_number", :placeholder => "Landline Number", :type => "text", :value => ""}
                            %span.fa.fa-phone.form-control-feedback.left{"aria-hidden" => "true"}
                        .row
                          %label.col-md-4.col-sm-4.col-xs-12.control-label Designation
                          .col-md-8.col-sm-8.col-xs-12.form-group.has-feedback
                            %input#contact_designation.form-control.has-feedback-left{:name => "designation", :placeholder => "Designation", :type => "text", :value => ""}
                            %span.fa.fa-info.form-control-feedback.left{"aria-hidden" => "true"}
                        .row
                          %label.col-md-4.col-sm-4.col-xs-12.control-label
                          .col-md-8.col-sm-8.col-xs-12.form-group.has-feedback
                            %label
                              %input#contact_default.form-control{:name => "is_default", :placeholder => "Default", :type => "checkbox"}
                              Default Contact
                .modal-footer
                  %button.btn.btn-default{:id => "btn_close_contact", :type => "button", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary{:id => "btn_add_contact"} Add Contact
      .clearfix
    .col-md-12
      %table#contact_table.table.table-striped.projects
        %thead
          %tr
            %th{:style => "width: 20%"} Contact Name
            %th{:style => "width: 20%"} Email Address
            %th{:style => "width: 15%"} Mobile
            %th{:style => "width: 15%"} Landline
            %th{:style => "width: 15%"} Designation
            %th{:style => "width: 15%"} Default
            %th{:style => "min-width: 15%"}
        - @customer.contacts.each do |cont|
          %tr
            %td
              =cont.full_name
            %td
              =cont.email
            %td
              =cont.mobile_number
            %td
              =cont.landline_number
            %td
              =cont.designation
            %td
              =(cont.is_default == 1) ? "Default" : ""
            %td
              %a.contact-delete.btn.btn-danger.btn-xs{:href => "#", "data-id" => cont.id}
                %i.fa.fa-trash-o
:javascript
  var add_contact_url='/customers/#{@customer.id}/update_contact';
= javascript_include_tag 'people_overview', 'data-turbolinks-track' => true
