.row
  / start project list
  %table.table.table-bordered.projects
    %thead
      %tr{:style => "background: rgba(52,73,94,0.94); color: #ECF0F1;"}
        %th{:style => "width: 15%"} #(Transaction)
        %th{:style => "width: 15%"} Order Date
        %th{:style => "width: 20%"} Reference
        %th{:style => "width: 15%"} Amount
        %th{:style => "width: 15%"} Balance Due
        %th{:style => "width: 20%"} Status
    %tbody
    - @sales_orders.each do |order|
      %tr
        %td 
          =link_to order.token, sales_order_path(order)
        %td
          =order.order_date
        %td
          =order.customer_name
        %td
          =number_to_currency(order.total_amount, precision: 2)
        %td 
          =number_to_currency(0, precision: 2)
        %td
          %span{:class => "label label-md #{order.status_class}"}
            =order.status.capitalize