.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3 Add Order
      .title_right
        .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
          .input-group
            %input.form-control{:placeholder => "Search for...", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-default{:type => "button"} Go!
    .clearfix
    .row
      .col-md-12
        .x_panel
          .x_title
            %h2 Add Sales Order for Customers
            %ul.nav.navbar-right.panel_toolbox
              %li
                %a.collapse-link
                  %i.fa.fa-chevron-up
              %li
                %a.close-link
                  %i.fa.fa-close
            .clearfix
          .x_content
            %form.form-horizontal.form-label-left.input_mask
              .row
                .col-md-6.col-sm-6.col-xs-12
                  %h4 Order Information
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Sales Order#
                    .col-md-8.col-sm-8.col-xs-12
                      %input.form-control{:name => "order_no", :type => "text", :placeholder => "Sales Order#"}
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Order Date
                    .col-md-8.col-sm-8.col-xs-12
                      %input.form-control{:name => "order_no", :type => "text", :placeholder => "Order Date"}
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Requested Ship Date
                    .col-md-8.col-sm-8.col-xs-12
                      %input.form-control{:name => "order_no", :type => "text", :placeholder => "Requested Ship Date"}
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Estimated Ship Date
                    .col-md-8.col-sm-8.col-xs-12
                      %input.form-control{:name => "order_no", :type => "text", :placeholder => "Estimated Ship Date"}
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Payment Terms
                    .col-md-8.col-sm-8.col-xs-12
                      %input.form-control{:name => "order_no", :type => "text", :placeholder => "Payment Terms"}
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Shipping Method
                    .col-md-8.col-sm-8.col-xs-12
                      %input.form-control{:name => "order_no", :type => "text", :placeholder => "Shipping Method"}
                .col-md-6.col-sm-6.col-xs-12
                  %h4 Customer Information
                  .form-group
                    %label.control-label.col-md-4.col-sm-4.col-xs-12 Customer Name
                    .col-md-8.col-sm-8.col-xs-12
                      %input.form-control{:name => "order_no", :type => "text", :placeholder => "Customer Name"}
                  .form-group
                    %address{:style => 'text-align:right;'}
                      795 Freedom Ave, Suite 600
                      %br/
                      New York, CA 94107
                      %br/
                      Phone: 1 (804) 123-9876
                      %br/
                      Email: jon@ironadmin.com
                      %br/
                .col-md-12
                  %h4 Product Information
                  / start project list
                  %table.table.table-striped.projects
                    %thead
                      %tr
                        %th{:style => "width: 10%"} SKU
                        %th{:style => "width: 20%"} Product Name
                        %th{:style => "width: 10%"} Quantity
                        %th{:style => "width: 10%"} Unit Price
                        %th{:style => "width: 10%"} Discount(%)
                        %th{:style => "width: 10%"} Tax
                        %th{:style => "width: 15%"} Line Total
                        %th{:style => "min-width: 15%"} Action
                      %tr
                        %form#form_search{:action => '#', :method => "get"}
                        %th{:style => "width: 10%"}
                          %input.form-control.table-cell{:name => "order_no", :type => "text", :form => "form_search", :value => params[:order_no]}
                        %th{:style => "width: 20%"}
                          %input.form-control.table-cell{:name => "full_name", :type => "text", :form => "form_search", :value => params[:full_name]}
                        %th{:style => "width: 10%"}
                          %input.form-control.table-cell{:name => "company_name", :type => "text", :form => "form_search", :value => params[:company_name]}
                        %th{:style => "width: 10%"}
                          %input.form-control.table-cell{:name => "tranding_name", :type => "text", :form => "form_search", :value => params[:tranding_name]}
                        %th{:style => "width: 10%"}
                          %input.form-control.table-cell{:name => "tranding_name", :type => "text", :form => "form_search", :value => params[:tranding_name]}
                        %th{:style => "width: 10%"}
                          %input.form-control.table-cell{:name => "phone_number", :type => "text", :form => "form_search", :value => params[:phone_number]}
                        %th{:style => "width: 15%"}
                          %input.form-control.table-cell{:name => "phone_number", :type => "text", :form => "form_search", :value => params[:phone_number]}
                        %th{:style => "min-width: 15%"}
                          %button.btn.btn-success.btn-xs
                            %i.fa.fa-plus
                            Add Product
                    %tbody
                      %tr
                        %td SK-29340
                        %td CocaCola
                        %td 100
                        %td $3
                        %td 0
                        %td 0
                        %td $300
                        %td
                          %a.btn.btn-info.btn-xs{:href => '#'}
                            %i.fa.fa-pencil
                            Edit
                          = link_to '#', method: :delete, :class => "btn btn-danger btn-xs" do
                            %i.fa.fa-trash-o
                            Delete
                      %tr
                        %td SK-29340
                        %td CocaCola
                        %td 100
                        %td $3
                        %td 0
                        %td 0
                        %td $300
                        %td
                          %a.btn.btn-info.btn-xs{:href => '#'}
                            %i.fa.fa-pencil
                            Edit
                          = link_to '#', method: :delete, :class => "btn btn-danger btn-xs" do
                            %i.fa.fa-trash-o
                            Delete
                      %tr
                        %td SK-29340
                        %td CocaCola
                        %td 100
                        %td $3
                        %td 0
                        %td 0
                        %td $300
                        %td
                          %a.btn.btn-info.btn-xs{:href => '#'}
                            %i.fa.fa-pencil
                            Edit
                          = link_to '#', method: :delete, :class => "btn btn-danger btn-xs" do
                            %i.fa.fa-trash-o
                            Delete
                      %tr
                        %td{:style => 'border:none; background: white;'}
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                          %b SubTotal:
                        %td{:style => 'border:none; background: white;'} $900
                        %td{:style => 'border:none; background: white;'}
                      %tr
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                          %b Discount:
                        %td{:style => 'border:none; background: white;'} $0
                        %td{:style => 'border:none; background: white;'}
                      %tr
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                          %b Tax:
                        %td{:style => 'border:none; background: white;'} $0
                        %td{:style => 'border:none; background: white;'}
                      %tr
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                        %td{:style => 'border:none; background: white;'} 
                          %b Total:
                        %td{:style => 'border:none; background: white;'} $900
                        %td{:style => 'border:none; background: white;'}

                  / end project list
                .row{:style => "text-align: center;"}  
                  /= will_paginate @customers, renderer: BootstrapPagination::Rails, :previous_label => '&lsaquo;', :next_label => '&rsaquo;'
              .ln_solid
              .col-md-12{:style => 'text-align: right;'}
                %a.btn.btn-primary{:href => '#'}
                  Save
:javascript                  
:javascript
  jQuery(document).ready(function() {
  });