.customer-wrapper,
.supplier-wrapper{
    .x_panel{
        .x_title{
            height: 45px;
            .label{
                color: #fff;
                margin: 0 10px;
                font-size: 90%;
                vertical-align: bottom;
            }      
        }
    }

}