.kv-avatar{
  .file-input{
    display: table-cell;
    max-width: 220px;  	
  }

  .file-preview-frame, .file-preview-frame:hover{
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;  	
  }
}

div.date-picker.input-group input.form-control,
select.form-control.table-cell,
input.form-control.table-cell{
  height: 25px;
  font-size: 13px;
  padding: 4px;
  font-weight: 400;
}

div.date-picker span.input-group-btn button.btn{
  height: 25px;
  padding: 4px;  
}

div.date-picker.input-group{
  margin-bottom: 0;
}

.input-sm {
  max-width:200px;
  margin : 3px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.modal-footer-sm{
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.ui-dialog .ui-dialog-content{
  width: 380px !important;
}

.label-md{
  font-size: 90%;
}

table.projects{
  tr{
    .buttons, button, .btn {
      margin-bottom: 0px;
      margin-right: 5px;
    }
    th, td{
      padding: 5px;
    }
    th{
      vertical-align:top;
    }  

    .form-control{
      box-shadow: none;
    }
  }  
}

.table-bordered > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

table.table-bordered tbody tr:hover td {
  background: rgba(38,185,154,0.07);
  border-top: 1px solid rgba(38,185,154,0.11);
  border-bottom: 1px solid rgba(38,185,154,0.11);
}

.margin-bottom-5{
  margin-bottom: 5px !important;
}

/*table#product_list> thead,*/
table.activity_list> thead
 {
  background: rgba(52,73,94,0.94);
  color: #ECF0F1;
}

.col-12.form-control-feedback.left {
  border-right: 1px solid #ccc;
  left: 3px;
}

.product-select{
  .select2-selection--single{
    min-height: 10px;

    .select2-selection__rendered{
      padding-top: 0px;
    }
    .select2-selection__arrow{
      height: 26px; 
    }
  }  

}

.form-group-no-margin {
  .form-group,
  .row{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;    
  }
}

.form-horizontal{
  .field-value{
    padding-top: 8px;
  }
}

.row.no-margin{
  margin: 0;
}

table.projects td.edit-focus{
  border: solid 1px #777 !important;
  background: #eee !important;
}

.sidebar-footer-config{
  bottom: 0px;
  clear: both;
  display: block;
  padding: 5px 0 0 0;
  position: fixed;
  width: 230px;
  z-index: 1000;
  background: #172D44;  

  .nav > li > a{
    padding: 10px 15px;
    margin-bottom: 0;
  }
}

.right_col{
  .left-sub-sidebar{
    width: 300px;
    padding: 0;
    position: relative;
    display: flex;
    float: left;
    min-height: 30px;

    .x_content{
      overflow: auto;
      padding-right: 5px;
    }
  }

  .right-content{
    margin-left: 305px;
    height: 100%;
  }
}

.panel_toolbox > li{
  a.add-link{
    color: #5A738E;
    font-size: 18px;
    padding: 2px;
    margin-right: 10px;
  }
}

.sub_menu_side{
  font-size: 14px;
  span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #5A738E;
  }

  .nav.side-menu > li, 
  .nav.child_menu > li{
    >a{
      color: #5A738E;
      font-weight: 500;  
      cursor: pointer;
      border-bottom: 1px dotted #aaa;

      &:hover,
      &.nav-active{
        background: #f0f0f0;
        border-left: 5px solid #aaa;
      }

      &:hover{
        color: #888 !important;    
      }

      &.nav-active{
        color: #172D44 !important;    
      }

      p{
        margin: 0;
        &.product-name{
          font-size: 14px;
          text-align: left;
        }

        &.product-info{
          text-align: left;
        }

        &.product-info,
        &.product-stock{
          font-size: 12px;
          color: #555 ;
        }

        &.product-stock{
          text-align: right;
          span{
            font-size: 14px;
            color: #333;
          }
        }
      }    
    }

    &.element{
      >a{
        padding: 2px 5px 2px 5px !important;
        margin-bottom: 3px;
      }
    }
  }

  .fa {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    vertical-align: bottom;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.customer-default-avatar{
  path{
    fill: #73879C !important;
  }
  max-width: 150px;
}

.profile-content{
  padding: 5px;

  ul.user_data{
    font-size: 14px;
  }
}

.contact-list{  
  h3{
    float:left;
  }

  .navbar-right{
    i{
      font-size: 24px;
      vertical-align: bottom;
      margin-top: 10px;
    }
    a{
      padding: 0 10px;
    }
  }  
}

.overview-payable{
  h2{
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

.customer-address{
  &.row{
    margin-bottom: 30px !important;
  }  
}

.modal-body{
  .form-group{
    margin-bottom: 10px;
  }
}

.search-bar{
  .buttons, button, .btn {
    margin-bottom: 5px; 
  }
}

.login_content .submit{
  float:none !important;
  margin : auto !important;
}

.no-border{
  border: none !important;
}

.table > tbody > tr > td{
  vertical-align: middle !important;
}

.main_container,
#sidebar-menu{
  background: #2A3F54;
}


.company-logo{
  img{
    max-height: 200px;
    max-width: 200px;
  }
}

.overview{
  .product-thumbnail{
  }
}

.pagination{
  margin: 10px 0 !important;
}

.ln_solid_narrow {
  border-top: 1px solid #e5e5e5;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 10px 0;
}

/**********Main Container*************/
.main_container{
  .left_col{
    position: fixed;
  }

  .form-control{
    box-shadow: none;
  }

  .file-input{
    text-align: center;
    .file-preview{
      border-radius: 0;      
    }  
  }

  .x_panel{
    padding: 10px 10px !important;
  }

  .no-padding{
    padding: 0 !important;
  }

  .alert-dismissable, 
  .alert-dismissible{
    padding-right: 25px !important;
  }

  .alert{
    padding: 5px;
    margin-bottom: 5px !important;    
  }

  .product-image img {
    width: auto;
    max-width: 200px;
    max-height: 200px;
  }

}

.nav-md .container.body .right_col{
  padding: 10px 5px 0 !important;
}  

.dropdown-submenu {
  position: relative;

  .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -1px;
  }

  &:hover{
    .dropdown-menu{
      display: block;
    }
  }

  & > a > i {
    float: right;
    line-height: 18px;
    vertical-align: middle;    
  }
}
