@media screen and (min-width: 1200px) {
  .top_nav{
    .smart-search-wrapper {
      width: 450px;

      .indent-wrap{      
        max-width: 340px;
      }
    }
  }
}

/*****************************************************/
@media screen and (max-width: 1199px) {
  .top_nav{
    .smart-search-wrapper {
      width: 400px;

      .indent-wrap{      
        max-width: 290px;
      }
    }
  }
}

/**********************Tablet **************************************************/
@media screen and (max-width: 992px) {
  .top_nav{
    .smart-search-wrapper {
      width: 350px;

      .indent-wrap{      
        max-width: 240px;
      }
    }
  }
}

/**********************Mobile **************************************************/
@media screen and (max-width: 767px) {
  .top_nav{
    .smart-search-wrapper {
      width: 70%;
      min-width: 250px;
      .indent-wrap{      
        max-width: 140px;
      }
    }
  }
}