%table.table.table-bordered.projects
  %thead
    %tr{:style => "background: rgba(52,73,94,0.94); color: #ECF0F1;"}
      %th{:style => "width: 20%"} Date
      %th{:style => "width: 20%"} SO#
      %th{:style => "width: 20%"} Customer
      %th{:style => "width: 15%"} Amount
      %th{:style => "width: 20%"} Status
  %tbody
    - @sales_items.each do |item|
      - unless item.sales_order.quote?
        %tr
          %td=item.sales_order.order_date
          %td=link_to item.sales_order.token, sales_order_path(item.sales_order)
          %td=link_to item.sales_order.customer.name, customer_path(item.sales_order.customer)
          %td=item.quantity
          %td
            %span{:class => "label label-md #{item.sales_order.status_class}"}
              =item.sales_order.status_text.capitalize          