%table.table.table-bordered.projects
  %thead
    %tr{:style => "background: rgba(52,73,94,0.94); color: #ECF0F1;"}
      %th{:style => "width: 15%"} Date
      %th{:style => "width: 20%"} PO#
      %th{:style => "width: 15%"} Supplier
      %th{:style => "width: 10%"} Status
      %th{:style => "width: 20%"} Expected Delivery
      %th{:style => "width: 15%"} Amount
  %tbody