%table.table.table-bordered.projects
  %thead
    %tr{:style => "background: rgba(52,73,94,0.94); color: #ECF0F1;"}
      %th{:style => "width: 15%"} Variant
      %th{:style => "width: 10%"} Type
      %th{:style => "width: 10%"} Date
      %th{:style => "width: 15%"} SO#
      %th{:style => "width: 20%"} Customer
      %th{:style => "width: 15%"} Amount
      %th{:style => "width: 10%"} Status
  %tbody
    - @item_movements.each do |item|
      %tr
        %td          
          - variant_name = item['value1']
          - variant_name += "-" + (item['value2']) unless item['value2'].blank?
          - variant_name += "-" + (item['value3']) unless item['value3'].blank?        
          = variant_name
        %td
          %strong=item['type']
        %td=item['move_date'].to_date
        - if item['type'] == 'Sale Order'
          - if item['order_id'].to_i > 0
            %td=link_to item['token'], sales_order_path(item['order_id'])
          - else
            %td=item['token']          
          - if item['customer_id'].to_i  > 0
            %td=link_to item['customer_name'], customer_path(item['customer_id'])
          - else
            %td=item['customer_name']          
        - else        
          - if item['order_id'].to_i > 0
            %td=link_to item['token'], purchase_order_path(item['order_id'])
          - else
            %td=item['token']          
          - if item['customer_id'].to_i  > 0
            %td=link_to item['customer_name'], supplier_path(item['customer_id'])
          - else
            %td=item['customer_name']
        %td=item['quantity']
        %td
          %span{:class => "label label-md #{movement_status(item['status'])}"}
            =item['status'].upcase