.row
  .col-md-12
    %table.table.table-hover.projects
      %thead
        %tr
          %th{:style => "width: 1%"}
          %th{:style => "width: 25%"} Name/SKU
          %th{:style => "width: 20%"} Product Line
          %th{:style => "width: 15%"} Avaliable
          %th{:style => "width: 15%"} Price
          %th{:style => "width: 15%"} Status
          %th{:style => "width: 15%"} Action
      %tbody
      - @products.each do |product|
        %tr
          %td 
          %td 
            %a{:href => product_path(product, type: params[:type])}
              =product.name
              %br
              =product.sku
          %td
            =product.product_line.name
          %td
            =product.stock
          %td
            =product.main_selling_price
          %td 
            =product.stock_status
          %td 
            %a.btn.btn-info.btn-xs{:href => edit_product_path(product)}
              %i.fa.fa-icon.fa-pencil
            =link_to product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" do
              %i.fa.fa-trash-o              
  .col-md-12{:style => "text-align: center;"}  
    = will_paginate @products, renderer: BootstrapPagination::Rails, :previous_label => '&lsaquo;', :next_label => '&rsaquo;'
