.right_col{:role => "main"}
  .left-sub-sidebar
    = render 'nav_people', add_url: new_supplier_path(), active_elem: 'sub-nav-suppliers', nav_name: 'People', cat_name: 'People'
  .right-content
    .x_panel
      .x_title
        %h2 Suppliers          
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content.form-group-no-margin
        .row
          .title_right
            .col-md-8.col-sm-8.col-xs-12
              - if !params[:key].blank?
                %h4
                  Search by "#{params[:key]}"
        .row
          / start project list
          %table.table.table-hover.projects
            %thead
              %tr
                %th{:style => "width: 1%"}
                %th{:style => "width: 15%"} Supplier Name
                %th{:style => "width: 20%"} Company Name
                %th{:style => "width: 15%"} Phone Number
                %th{:style => "width: 15%"} Email Address
                %th{:style => "width: 12%"} Orders
                %th{:style => "width: 12%"} Receivable
                %th{:style => "min-width: 70px;"} Action
            %tbody
            - @suppliers.each do |supplier|
              %tr
                %td
                %td 
                  %a{:href => supplier_path(supplier)}
                    =supplier.full_name
                %td
                  =supplier.company_name
                %td
                  =supplier.phone
                %td
                  =supplier.email
                %td 
                  =supplier.orders
                  ='order'.pluralize(supplier.orders)
                %td 
                  $
                  =supplier.payable
                %td
                  %a.btn.btn-info.btn-xs{:href => edit_supplier_path(supplier)}
                    %i.fa.fa-pencil
                  = link_to supplier, method: :delete, :class => "btn btn-danger btn-xs" do
                    %i.fa.fa-trash-o
          / end project list
        .row{:style => "text-align: center;"}  
          = will_paginate @suppliers, renderer: BootstrapPagination::Rails, :previous_label => '&lsaquo;', :next_label => '&rsaquo;'
:javascript
  jQuery(document).ready(function() {
    $('#btn_search_list').on('click', function(){
      window.location.href = '/suppliers?search_key=' + $('#search_key').val();
    });
  });          