.right_col{:role => "main"}
  .left-sub-sidebar
    = render 'nav_people', add_url: new_supplier_path(), active_elem: "sub-nav-#{@supplier.id}", nav_name: 'Customers', sub_elems: @suppliers, type: 'show', cat_name: 'Supplier'
  .right-content
    .x_panel
      .x_title
        %h2 New Supplier
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content.form-group-no-margin
        #tab_personal{:class => "tab-pane #{(flash[:last_action]=="update_info" || flash[:last_action] == nil) ? "active" : ""}"}
          = render 'form_info_new'