.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3 New Supplier
      .title_right
        .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
          .input-group
            %input.form-control{:placeholder => "Search for...", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-default{:type => "button"} Go!
    .clearfix
    .row
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title
            %h2 Supplier Information
            %ul.nav.navbar-right.panel_toolbox
              %li
                %a.collapse-link
                  %i.fa.fa-chevron-up
              %li
                %a.close-link
                  %i.fa.fa-close
            .clearfix
          .x_content.form-group-no-margin
            .col-sm-2
              / required for floating
              / Nav tabs
              %ul.nav.nav-tabs.tabs-left
                %li{:class => (flash[:last_action]=="update_info" || flash[:last_action] == nil) ? "active" : ""}
                  %a{"data-toggle" => "tab", :href => "#tab_personal"} 
                    %i.fa.fa-cog
                    Supplier Info
                %li
                  %a{"data-toggle" => "tab", :href => "#"} 
                    %i.fa.fa-folder-open
                    Contacts
            .col-sm-10
              .tab-content
                #tab_personal{:class => "tab-pane #{(flash[:last_action]=="update_info" || flash[:last_action] == nil) ? "active" : ""}"}
                  = render 'form_info_new'
:javascript
  jQuery(document).ready(function() {
    // initialize the validator function
    validator.message.date = 'not a real date';
  
    // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
    $('form')
      .on('blur', 'input[required], input.optional, select.required', validator.checkField)
      .on('change', 'select.required', validator.checkField)
      .on('keypress', 'input[required][pattern]', validator.keypress);
  
    $('.multi.required').on('keyup blur', 'input', function() {
      validator.checkField.apply($(this).siblings().last()[0]);
    });
  
    $('form').submit(function(e) {
      e.preventDefault();
      var submit = true;
      // evaluate the form using generic validaing
      if (!validator.checkAll($(this))) {
        submit = false;
      }
      if (submit)
        this.submit();
      return false;
    });  
  });