.form-horizontal.form-label-left{:style => "overflow:auto;"}
  .col-md-6.col-sm-6.col-xs-12
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Company Name
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.token
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Contact Person
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.order_date
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Reference #
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= number_to_currency(@sales_order.total_amount)
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Payment Terms
      .col-md-8.col-sm-8.col-xs-12.field-value          
        %span{:class => "label label-md"}
          /= @sales_order.status.capitalize
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Price List
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.req_ship_date
  .col-md-6.col-sm-6.col-xs-12
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Sales Person
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Issued Date
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Estimate Shipment Date
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Shipping Method
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
.ln_solid
.form-horizontal.form-label-left{:style => "overflow:auto;"}
  .col-md-6.col-sm-6.col-xs-12
    %h4 Shipping Address
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Address
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Suburb
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 City
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 State / Province
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Country
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
  .col-md-6.col-sm-6.col-xs-12
    %h4 Billing Address
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Address
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Suburb
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 City
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 State / Province
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
    .form-group
      %label.control-label.col-md-4.col-sm-4.col-xs-12 Country
      %span.col-md-8.col-sm-8.col-xs-12.field-value          
        /= @sales_order.customer.name
:javascript
  $(document).ready(function() {
  });
