.right_col.sales-orders-wrapper{:role => "main"}
  .x_panel
    .x_title
      %h2 New Sales Order
      %ul.nav.navbar-right.panel_toolbox
        %li
          %button.btn.btn-default.btn-cancel Cancel
        %li
          %button.btn.btn-info.btn-save.btn-order Save
        %li
          %button.btn.btn-primary.btn-confirm.btn-order Confirm
        %li
          %a.collapse-link
            %i.fa.fa-chevron-up
        %li
          %a.close-link
            %i.fa.fa-close
      .clearfix
    .x_content.form-group-no-margin
      = render 'form_sales_order'
:javascript
  jQuery(document).ready(function() {
    SalesOrdersCommon.initSiderMenuList();
    SalesOrdersNew.handleSalesOrderNewCommand();
  });
